
/* Fuentes */
h1, h2, h3, h4, h5, h6, p {
    font-family: 'Dancing Script', cursive;
}
/* Cabezera */
header {
    background:#5b7989;
    width: 100%;
    border-radius: 10px;
    color: white;
    display: flex;
    flex-direction: center;
    justify-content: space-between;
    align-items: center;
}
h1 {
    text-shadow: 2px 2px #02010a;
}
#menu{
    background: #5b7989;    
}
#menu ul{
    padding-right: 0px;
    padding-left: 0px;
    padding-bottom: 0px;
    padding-top: 0px;
    margin: 0px;
}  
#menu  li{
    display: inline;
    list-style-type: none;
    display: inline;
    padding-right: 5px;
    color: white;
    text-decoration:none;
}
li a:link,li a:visited,li a:active {
    text-decoration:none;
    color: white;
    background: #5b7989;
}
/* Main */
#contenedor{
    width: 900px;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}
/* Main - Imagen Principal*/
#principal {
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    background: #82c3a6;
}
#imagen_principal{
    width: 100%;
    opacity: 0.5;
}
/* Main - Imagen Segundaria*/
#playa {
    padding-top: 30px;
    padding-bottom: 30px;
    background-color:var(--color-main);
}
.foto1 img{
    border-radius: 10px;
    width: 100%;
    transition: width 1s;
    -webkit-filter: grayscale(70%);
    filter: grayscale(70%);
}
.foto2 img{
    border-radius: 10px;
    width: 100%;
    transition: width 1s;
    -webkit-filter: grayscale(70%);
    filter: grayscale(70%);
}
/* Footer */
footer{  
    padding-top: 30px;
    padding-bottom: 30px;
    background-color: var(--color-contacto);
}
#contacto {    
    text-align: center;
    width: 100%;
}
#terminos {
    background-color: var(--color-formulario);
    border-radius: 10px;
    width: 100%;
}

/* Media Query */

@media all and (max-width: 900px) {  
    header{
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
/*         color: var(--color-titulo);
        background-color: var(--color-header); */
        padding-top: 10px;
        padding-bottom: 10px;
    }
    #contenedor{
        width: 100%;
    }
    #menu {
        padding-left: 10px;
    }
    #menu ul{
        padding-right: 0px;
        padding-left: 0px;
        padding-bottom: 0px;
        padding-top: 0px;
        margin: 0px;
    }  
    #menu  li{
        display: inline;
        list-style-type: none;
        display: inline;
        padding-right: 5px;
        color: white;
        text-decoration:none;
    }
    #rio, #parque, #playa, footer {
        width: 100%;
        display: flex;
        flex-direction: row;
        justify-content: center;
        align-items: center;
        flex-wrap: wrap;
    }
    #texto_principal{
        margin-top: 70px;
        margin-bottom: 70px;
        margin-left: 5%;
        margin-right: 5%;
    }
    .texto {
        width: 100%; 
    }
    .foto1 {
       display: none; 
    }
    .foto2{
        width: 100%; 
    }
    #contacto, #formulario{
        width: 100%;
    }
}



